<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
	<link rel="stylesheet" type="text/css" href="/static/index/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/jquery.pagination.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/main.css">
    <script type="text/javascript" src="/static/index/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/static/index/js/jquery.pagination.min.js"></script>
</head>
<body class="inframe_body">
    <div class="my_collect">
        <h3>我的收藏</h3>
        <ul class="article_list">
        {% for news in collect %}
        <li><a target="_blank" href="{{ url_for('index_blu.detail',news_id=news.get("id")) }}">{{ news.get("title") }}</a><span>{{ news.get("create_time") }}</span></li>
        {% endfor %}
        </ul>

    <div id="pagination" class="page">
           <div class="ui-pagination-container">

               <a href="{{ url_for('.user_collection') }}?page=1" class="ui-pagination-page-item" >首页</a>

               {% if paginate.has_prev%}
               <a href="{{ url_for('.user_collection') }}?page={{ paginate.prev_num }}" class="ui-pagination-page-item" >上一页</a>
               {% endif %}
               {% for num in paginate.iter_pages() %}
                   {% if num == paginate.page %}
                    <a href="#" class="ui-pagination-page-item active" >{{ num }}</a>
                   {% else %}
                    <a href="{{ url_for('.user_collection') }}?page={{ num }}" class="ui-pagination-page-item" >{{ num }}</a>
                   {% endif %}

               {% endfor %}
                {% if paginate.has_next%}
               <a href="{{ url_for('.user_collection') }}?page={{ paginate.next_num }}" class="ui-pagination-page-item" >下一页</a>
                {% endif %}
               <a href="{{ url_for('.user_collection') }}?page={{ paginate.pages }}" class="ui-pagination-page-item" >尾页</a>
           </div>
       </div>


    </div>
</body>
</html>